<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>PDF Tool</title>

  <script src="static/js/pdfjs/build/pdf.mjs" type="module"></script>

  <style>
    #pdf-viewer {
      position: relative;
      width: 100%;
    }

    #pdf-viewer canvas {
      position: absolute;
      top: 0;
      left: 0;
    }

    #pdf-layer {
      border: 2px solid coral;
    }
  </style>
</head>

<body>
  <h1>PDF Tool</h1>

  <div id="sidebar">
    <button id="clear-selections">Clear Selections</button>
    <div id="results">
      <h2>Results</h2>
      <ul></ul>
    </div>
  </div>

  <div id="pdf-viewer">
    <canvas id="pdf-layer"></canvas>
    <canvas id="selection-layer"></canvas>
  </div>

  <script type="module">
    const pageNum = 1; // At the moment, we only render the first page
    const pdfScale = 1;

    const pdfLayer = document.getElementById('pdf-layer');
    const selectionLayer = document.getElementById('selection-layer');
    const selectionCtx = selectionLayer.getContext('2d');

    let isSelecting = false;
    let selections = [];
    let startX, startY;

    pdfjsLib.GlobalWorkerOptions.workerSrc = 'static/js/pdfjs/build/pdf.worker.mjs';

    pdfjsLib.getDocument(`/pdf/sample.pdf`).promise.then(pdf => {
      pdf.getPage(pageNum).then(page => {
        const viewport = page.getViewport({ scale: pdfScale });

        pdfLayer.width = selectionLayer.width = viewport.width;
        pdfLayer.height = selectionLayer.height = viewport.height;

        page.render({
          canvasContext: pdfLayer.getContext('2d'),
          viewport: viewport
        });
      });
    });

    const startSelection = (e) => {
      isSelecting = true;
      [startX, startY] = [e.offsetX, e.offsetY];
    };

    const updateSelection = (e) => {
      if (!isSelecting) return;
      const currentRect = getRect(e.offsetX, e.offsetY);
      redrawSelectionCanvas(currentRect);
    };

    const endSelection = (e) => {
      if (!isSelecting) return;

      isSelecting = false;

      const currentRect = getRect(e.offsetX, e.offsetY);
      const currentSelection = { id: crypto.randomUUID(), ...currentRect };
      selections.push(currentSelection);
      processSelection(currentSelection);

      redrawSelectionCanvas();
    };

    const getRect = (endX, endY) => {
      return {
        x: startX,
        y: startY,
        width: endX - startX,
        height: endY - startY,
        canvasHeight: selectionLayer.height,
        canvasWidth: selectionLayer.width,
      };
    };

    const processSelection = (selection) => {
      fetch('/pdf/selection', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(selection)
      })
        .then(response => {
          if (!response.ok) throw new Error('Failed to process selection');
          return response.json()
        })
        .then(showResult)
        .catch(error => console.error({ error }));
    };

    const showResult = ({ result: { id, value } }) => {
      addInputToList(id, value);
      updateSelectionValue(id, value);
    };

    const addInputToList = (id, value) => {
      const resultInput = document.createElement('input', { type: 'text' });
      resultInput.id = id;
      resultInput.value = value;

      const result = document.createElement('li');
      result.appendChild(resultInput);

      const results = document.querySelector('#results ul');
      results.appendChild(result);

      resultInput.addEventListener('input', (e) => {
        updateSelectionValue(e.target.id, e.target.value)
      });
    };

    const updateSelectionValue = (id, value) => {
      const selection = selections.find(selection => selection.id === id);
      selection.value = value;
      console.log({ selections });
    };

    const redrawSelectionCanvas = (currentRect = null) => {
      selectionCtx.clearRect(0, 0, selectionLayer.width, selectionLayer.height);

      selectionCtx.strokeStyle = 'red';
      selectionCtx.lineWidth = 2;

      selections.forEach(selection => {
        selectionCtx.strokeRect(selection.x, selection.y, selection.width, selection.height);
      });

      if (currentRect) {
        selectionCtx.strokeRect(currentRect.x, currentRect.y, currentRect.width, currentRect.height);
      }
    };

    const clearSelections = () => {
      selections = [];
      redrawSelectionCanvas();
    };

    selectionLayer.addEventListener('mousedown', startSelection);
    selectionLayer.addEventListener('mousemove', updateSelection);
    selectionLayer.addEventListener('mouseup', endSelection);
    selectionLayer.addEventListener('mouseout', endSelection);

    document.getElementById('clear-selections').addEventListener('click', clearSelections);
  </script>
</body>

</html>
